<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jethro Cabaluna</title>
  <link rel="stylesheet" href="/stylesheets/css/app.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
</head>
<body>
  <div class="prlx1">
    <div class="pimg1"></div>
    <div class="ptext">
      <span class="border trans">
        Hi, I'm Jethro. I'm available for hire.
      </span>
      <button id="contact-btn">
        Contact me
      </button>
    </div>
    <div class="caret-down">
      <span><i class="fa fa-chevron-down"></i></span>
    </div>
  </div>
  <div class="section section-expertise">
    <h1>My Expertise</h1>
    <div class="expertise-list">
      <div class="expertise">
        <div class="expertise-icon"><i class="fa fa-code"></i></div>
        <p>Front-end Development</p>
        <p>Able to create responsive web pages. Proficient in using HTML & CSS, Javascript, JQuery, Bootstrap, SASS etc.</p>
      </div>
      <div class="expertise">
        <div class="expertise-icon"><i class="fa fa-database"></i></div>
        <p>Back-end Development</p>
        <p>Able to build a server for a web application. Proficient in using Express.js, PHP, MongoDB, MySQL, version control.</p>
      </div>
      <div class="expertise">
        <div class="expertise-icon"><i class="fa fa-gamepad"></i></div>
        <p>Problem Solving</p>
        <p>Able to analyze a problem, strategize and find or create the best solutions for solving it</p>
      </div>
    </div>
  </div>
  <div class="section section-projects">
    <h1>My Projects</h1>
    <div class="project-container">
      <div class="project">
        <div class="content">
          <div class="img-container">
            <img src="/img/homepage/project1.png" alt="">
          </div>
          <h2>Adventurer's Trail (under construction)</h2>
          <p>html, css, sass, bootstrap, javascript, JQuery, express.js, MongoDB</p>
          <p>This is my website where I practice my skills in front-end and back-end development. For the server, this includes database for user creation, users posts of their adventure, images uploaded by the users, etc. This is still under construction and more features will be added soon. Feel free to sign up and try it.</p>
          <a href="https://adventurerstrail.herokuapp.com/" target="_blank">
            <button>Visit the Website</button>
          </a>
        </div>
        <div class="img-container">
          <img src="/img/homepage/project1.png" alt="">
        </div>
      </div>
    </div>
    <hr>
    <div class="project-container">
      <div class="project">
        <div class="img-container">
          <img src="/img/homepage/project2.png" alt="">
        </div>
        <div class="content">
          <div class="img-container">
            <img src="/img/homepage/project2.png" alt="">
          </div>
          <h2>Simon Game</h2>
          <p>html, css and jQuery</p>
          <p>This is the last project I created for my FreeCodeCamp Certification. This is a game of memory skill where the device creates a series of tones and lights and you need to repeat the sequence.</p>
          <a href="https://codepen.io/jethrocabaluna/full/ddaEqX/" target="_blank">
            <button>Try the game</button>
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="project-container">
      <div class="project">
        <div class="content">
          <div class="img-container">
            <img src="/img/homepage/project3.png" alt="">
          </div>
          <h2>Calculator following MDAS rule</h2>
          <p>html, css and javascript</p>
          <p>One of the main projects required for the FreeCodeCamp Certification. The MDAS rule is not included on the rules for creating this calculator project. I just added the MDAS rule logic for my own satisfaction. Since I can.</p>
          <a href="https://codepen.io/jethrocabaluna/full/WMgpKL/" target="_blank">
            <button>Try it!</button>
          </a>
        </div>
        <div class="img-container">
          <img src="/img/homepage/project3.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="section section-contactme">
    <h1>Contact Me</h1>
    <div class="contactme-container">
      <form action="/" method="POST">
        <div class="sender-info">
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" placeholder=" Enter Name" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder=" Enter Email Address" required>
          </div>
          <div class="form-group">
            <label for="mobilenumber">Mobile No.</label>
            <input type="tel" id="mobilenumber" name="mobilenumber" placeholder=" Enter Mobile Number (optional)">
          </div>
        </div>
        <div class="send-group">
          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="5" placeholder=" Enter Your Message" required></textarea>
          </div>
          <div class="form-group">
            <button><i class="fa fa-paper-plane"></i> Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <p>Designed by me &copy; 2018.</p>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/jethrocabaluna/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.freecodecamp.org/jethrocabaluna" target="_blank"><i class="fab fa-free-code-camp"></i></a>
      <a href="https://github.com/jethrocabaluna" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://codepen.io/dashboard/" target="_blank"><i class="fab fa-codepen"></i></a>
    </div>
  </footer>
  <script>
    var caret_down = document.querySelector(".caret-down span");

    caret_down.addEventListener("click", function() {
      window.scrollBy({ top: screen.height, left: 0, behavior: 'smooth' });
    });

    var contact_btn = document.querySelector("#contact-btn");

      contact_btn.addEventListener("click", function () {
        document.querySelector('.section-contactme').scrollIntoView({ behavior: 'smooth' });
      });
  </script>
</body>
</html>